.header {
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 60px;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}